body{
    background-image: url(background2.jpg);
    padding: auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background-attachment: fixed;
    
}

body::before{
    content:"";
    position: absolute;
    top: -90px;
    right: -10px;
    bottom: -42px;
    left: -10px;
    background-color: rgba(0,0,0,0.3);
   
}

#hh{
    width: 150px;
    height: 100px;
    margin-left: 1100px;
    margin-top: -130px;
    position: relative;
    top: 360px;
    
}

#hg {
    width: 150px;
    height: 100px;
    margin-left: 90px;
    margin-top: -130px;
    position: relative;
    top: -40px;
}

#header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 49pt;
    color: #f0ecad;
    margin-top: 30px;
    text-align: center;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    animation: mymove 5s infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;

}
@keyframes mymove {
    from {right: 10px}
    to {left: 10px}
}
.yoke{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
    text-align: center;
    text-decoration: wavy;
    color: #f0ecad;
    font-style: italic;
    margin-top: -30px;
    position: relative;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);

}

.steps{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22pt;
    margin-top: 70px;
    text-align: center;
    color: white;
    position: relative;
}
ul li{
    list-style: none;
    font-size: 16pt;
    color: white;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    animation: mymov 2s infinite ;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: inherit;


}

@keyframes mymov {
    from {top: 4px}
    to {bottom: 4px}
}

.spl{
    text-align: center;
    font-size: 16pt;
    color: white;
    margin-top: 70px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: none;
    width: auto;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation-fill-mode: forwards;

}
button:hover{
    background-color:#f0ecad; ;
    color: black
}
input {
    background-color: black;
    padding: 10px;
    border-radius: 40px;
    border-color: black;
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    color: #f0ecad;
    justify-content: center;

}
.img{
    position: relative;
    width: 650px;
    height: auto;
    margin-bottom: -590px ;
}